In [22]:
import itertools
import pandas as pd
## Need for sequence, along with other columns in the dataframe
count= itertools.count()
data= [100,200,300,400]

## Using zip function with count. Its same as range
data1= zip(itertools.count(),data)
data2=zip(range(10),data)
print( (dict(data1)))
print(dict(data2))

{0: 100, 1: 200, 2: 300, 3: 400}
{0: 100, 1: 200, 2: 300, 3: 400}

In [19]:
## zip longest from itertolls if you want to print all values in range including None
data2=__builtins__.list(itertools.zip_longest(range(10),data))
print(data2)

[(0, 100), (1, 200), (2, 300), (3, 400), (4, None), (5, None), (6, None), (7, None), (8, None), (9, None)]

In [27]:
kill= pd.read_csv(r'C:\Users\shumondal\Desktop\data\PoliceKillingsUS.csv', encoding="windows-1252")
data=kill[['id','city']].head(10)
data1= __builtins__.list(zip(itertools.count(),data['city']))
print(data1)

[(0, 'Shelton'), (1, 'Aloha'), (2, 'Wichita'), (3, 'San Francisco'), (4, 'Evans'), (5, 'Guthrie'), (6, 'Chandler'), (7, 'Assaria'), (8, 'Burlington'), (9, 'Knoxville')]

In [28]:
data=kill[['id','city']].head(10)
data1=map(pow,data['id'],itertools.chain(itertools.repeat(2)))
print(dict(zip(data['id'], data1)))
#print(map(pow,list(data[id]),itertools.repeat(2)))

{3: 9, 4: 16, 5: 25, 8: 64, 9: 81, 11: 121, 13: 169, 15: 225, 16: 256, 17: 289}

In [31]:
kill= pd.read_csv(r'C:\Users\shumondal\Desktop\data\PoliceKillingsUS.csv', encoding="windows-1252")
data=kill[['id','city']].head(10)
data1=  __builtins__.list(zip(itertools.count(),data['city']))
print(data1)
print("_________________________")
## How to unzip it from the zip data
cnt,dt = zip(*data1)
print(cnt,dt)

[(0, 'Shelton'), (1, 'Aloha'), (2, 'Wichita'), (3, 'San Francisco'), (4, 'Evans'), (5, 'Guthrie'), (6, 'Chandler'), (7, 'Assaria'), (8, 'Burlington'), (9, 'Knoxville')]
_________________________
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9) ('Shelton', 'Aloha', 'Wichita', 'San Francisco', 'Evans', 'Guthrie', 'Chandler', 'Assaria', 'Burlington', 'Knoxville')

In [45]:
## Repeat from itertools. Suppose you want use in square for 10 numbers
data= __builtins__.list(map(pow,range(10),itertools.repeat(2)))
print(data)

### itertools.chain - Used for treating consecutive sequences as a single sequence
## Now I want to multiply with id columns with repeat function , them we need chain method
data=kill[['id','city']].head(10)
data1=map(pow,data['id'],itertools.chain(itertools.repeat(2,times=4)))
print(dict(zip(data['id'], data1)))
#print(map(pow,list(data[id]),itertools.repeat(2)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
{3: 9, 4: 16, 5: 25, 8: 64}

In [117]:
l=['a','b','c']
n=[1,2,3]
nm=['asd','bdh']
data1=__builtins__.list(itertools.combinations(n,2))
print(data1)

[(1, 2), (1, 3), (2, 3)]

In [112]:
## if you want to see combination of values in a list, use permutatons
data2=__builtins__.list(itertools.permutations(n))
print(data2)

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [122]:
## If you want to combine all list, then use chain.
data3=__builtins__.list(itertools.chain(l,n,nm))
data3

['a', 'b', 'c', 1, 2, 3, 'asd', 'bdh']

In [138]:
## Slice is to remove some elemenets from list of values (0,4,3 - 0 is the start element,4 - it will not go beyond 4 elements
## in a list, 3 - it will pick the 4th elemenet from a list as it starts from 0)
print(data2)
print(__builtins__.list(itertools.islice(data2,0,4,3)))
print(__builtins__.list(itertools.islice(data2,3)))  -- only print 3 elements

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]
[(1, 2, 3), (2, 3, 1)]
[(1, 2, 3), (1, 3, 2), (2, 1, 3)]

In [140]:
## Help you to find a combination of value, 3 -means it will pick 3 values and combine
bills = [20, 20, 20, 10, 10, 10, 10, 10, 5, 5, 1, 1, 1, 1, 1]
## set is used to remove deuplicates
set(__builtins__.list(itertools.combinations(bills,3)))

{(1, 1, 1),
 (5, 1, 1),
 (5, 5, 1),
 (10, 1, 1),
 (10, 5, 1),
 (10, 5, 5),
 (10, 10, 1),
 (10, 10, 5),
 (10, 10, 10),
 (20, 1, 1),
 (20, 5, 1),
 (20, 5, 5),
 (20, 10, 1),
 (20, 10, 5),
 (20, 10, 10),
 (20, 20, 1),
 (20, 20, 5),
 (20, 20, 10),
 (20, 20, 20)}

In [151]:
## If you want to product of elements , use product method 
data1=__builtins__.list(itertools.product([2017, 2016], [1, 2], [1, 2, 3]))
print(data1)
datecols = ['year', 'month', 'day']
dt= pd.DataFrame(data1,columns=datecols)
dt

[(2017, 1, 1), (2017, 1, 2), (2017, 1, 3), (2017, 2, 1), (2017, 2, 2), (2017, 2, 3), (2016, 1, 1), (2016, 1, 2), (2016, 1, 3), (2016, 2, 1), (2016, 2, 2), (2016, 2, 3)]

    year  month  day
0   2017      1    1
1   2017      1    2
2   2017      1    3
3   2017      2    1
4   2017      2    2
5   2017      2    3
6   2016      1    1
7   2016      1    2
8   2016      1    3
9   2016      2    1
10  2016      2    2
11  2016      2    3